<h1><%=title%></h1>
<form id="formTodo">
<input type="text" name="list-title" id="">
    <button type="button" class="btn btn-success addTodoInputBtn" id="addTodoInputBtn">add field</button>
    <button type="button" class="btn btn-primary todoCreateBtn" id="todoCreateBtn">Create</button>
</form>